<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="$ID"
        version="$VERSION">
    <name>$NAME</name>
    <description>$DESCRIPTION</description>
    <author>$AUTHOR_NAME</author>
    <keywords>$KEYWORDS</keywords>
    <license>$LICENSE</license>

    <js-module src="www/$NAME.js" name="$NAME">
        <clobbers target="$NAME" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="$NAME">
                <param name="android-package" value="$ID.$NAME" />
            </feature>
        </config-file>

        <source-file src="src/android/$NAME.java" target-dir="src/$TARGET_DIR" />
    </platform>

    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="$NAME">
                <param name="browser-package" value="$NAME" />
            </feature>
        </config-file>

        <js-module src="src/browser/$NAME.js" name="$NAMEProxy">
            <runs />
        </js-module>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="$NAME">
                <param name="ios-package" value="$NAME" />
            </feature>
        </config-file>

        <header-file src="src/ios/$NAME.h" />
        <source-file src="src/ios/$NAME.m" />
    </platform>

    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="$NAME">
                <param name="wp-package" value="$NAME" />
            </feature>
        </config-file>

        <source-file src="src/wp/$NAME.cs" />
    </platform>
</plugin>
